* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-size: 16px;
    font-family: sans-serif;
    background-color: #03353E;
    background-size: cover;
    background-image: url(../images/Background.jpeg);
}

.header {
    display: flex;
    background-color: #03353E;
    justify-content: space-between;
    width: 1140px;
    margin-left: 100px;
    border-radius: 5px;
    font-size: 1.4rem;
    z-index: 1;
    padding: 15px;
    position: fixed;
    top: 0px;
}

ul {
    display: flex;
}

.li {
    list-style: none;
    margin-right: 10px;
    margin-top: 10px;
    color: white;
}

li:hover {
    color: #0294A5;
    cursor: pointer;
}

.logo {
    font-size: 2.4rem;
    cursor: pointer;
}

.logo p {
    color: white;
}

.logo span {
    color: #0294A5;
}

#header_search {
    width: 250px;
    height: 39px;
    border-radius: 15px;
    border: none;
}

.dropbtn {
    background-color: #0294A5;
    width: 95px;
    border-radius: 10px;
    color: white;
    height: 45px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn p {
    margin-top: -3px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: -10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #0294A5;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0294A5;
}


.menu {
    display: flex;
    margin-top: 75px;
}

.header_p {
    padding: 9px 14px 4px 14px;
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-right: 2px;
    margin-top: 25px;
}

.header_p:active {
    background-color: rgb(255, 17, 17);
    color: #0294A5;
}

h1 {
    margin-left: 120px;
    margin-top: 25px;
    color: white;
    margin-right: 10px;
    overflow-y: hidden;
}

#more{
    
}

.block {
    width: 250px;
    height: 350px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #03353E;
    box-shadow: 4px 4px 5px black;
}

.block p {
    z-index: 2;
    background-color: #fff;
    margin-top: -300px;
    text-align: center;
}

#body {
    width: 1400px;
}

h6{
    width: 100px;
    text-align: center;
    font-size: 18px;
    color: #03353E;
    border-radius: 10px;
    background-color: #fff;
    padding: 4px;
    position: absolute;
    top: 325px;
    left: 80px;
}

#main {
    margin-top: 50px;
    width: 1200px;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}

.block {
    margin-left: 45px;
    position: relative;
}




/* .block ul li {
    background-color: rgb(19, 18, 18);
    padding: 8px 5px;
    list-style: none;
    color: white;
    margin-left: auto;
    margin-top: 250px;
    margin-right: auto;
    border-radius: 11px;
} */

.block li {
    background-color: inherit;
    padding: 8px 5px;
    list-style: none;
    color: white;
    text-align: center;
    margin-top: 290px;
    border-radius: 11px;
}